body {
    font-family:"Quicksand", sans-serif;
    margin:0;
}

ul{
    list-style:none;
    margin:0;
    padding:0;
}

footer{
    background: linear-gradient(70deg, rgb(46, 255, 244), rgb(30, 30, 24));
}

footer li{
    width:80px;
    height:80px;
    padding:15px;
}

footer ul{
    display: flex;
    justify-content: center;
}

footer img{
    width: 100%;
    height: 100%;
}
header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px 60px;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
}

header ul{
    display:flex;
}

header a{
    color: rgb(255, 251, 0);
    text-decoration: none;
    font-size: 20px;
    padding: 12px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

header a:hover{
    color: rgb(77, 77, 77);
    background-color: rgb(255, 251, 0);
    border-radius: 6px;
}
header li {
    margin-left: 20px;
}

#logo a {
    padding:10px;
    font-family:"Oleo Script", sans-serif;
    color:rgb(245, 243, 160);
    font-size:50px;
    text-decoration:none;
    text-transform:uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}